<%= stylesheet_link_tag "home" %>
<%= image_tag 'utfprfundo.png', class: 'background-image' %>
<div class="content">
    <div class="background-overlay"></div>
        <div class="content-container">
            <div class="texto">
                <h1>Planejamento Participativo</h1>
                <h2> 
                    Navegue pelo nosso site para descobrir os projetos em desenvolvimento,
                    metas e objetivos da UTFPR Campus Pato Branco
                    <br><br>
                    Para saber mais sobre o campus acesse: <br><a href="https://www.utfpr.edu.br/campus/patobranco">UTFPR Pato Branco</a>
        </div>
                </h2>
    </div>
</div>

